/*
GENERAL
*/
:root {
    /*
    NEW COLORS - contrast = bg & buttons
    */
    --light-color: #ffffff;
    --gen-bg-color: #ffffff;
    --dark-screen: #272727;
    /*section 1*/
    --sec-1-content: #00334E;
    --sec-1-bg: #F8F8F8;
    /*section 2*/
    --sec-2-content: #fff;
    --sec-2-bg: #4A4A4A;
    /*section 2*/
    --sec-3-content: #fff;
    --sec-3-bg: #00334E;
    /*footer*/
    --footer-content: #fff;
    --footer-bg: #9B9B9B;
    /*
    MEASUREMENTS
    */
    --header-landing: 40vh;
    --header-landing-percent: 40%;
}

html, body {
    padding: 0;
    margin: 0;
}
body {
    background-color: #f00;
    font-family: 'Open Sans', 'Raleway', Helvetica, sans-serif;
    padding-bottom: 0px;
}
div {
    padding: 0;
    margin: 0;
}
h1, h2, h3 {
    font-family: 'Cabin', 'Raleway', Helvetica, sans-serif;
}
.both-btn {
    text-decoration: none;
    display: inline-block;
    border-radius: 36px;
    padding: 0.84rem 1.8rem;
    margin: 1.2rem 0;
    min-width: 8rem;      
    font-size: 1.2rem;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
}

/*
======================
CONTENT
======================
*/
/*
SHOWCASE HEADER
*/
/* .showcase-layout {
    position: relative;
    top: 0rem;
    left: 0rem;
    z-index: 1;
} */
.i-header {
    background-color: var(--dark-screen);
    /* height: var(--header-landing); */
    display: flex;
    color: var(--light-color);
}
.container {
    max-width: 1000px;
    /* padding: 0 3rem; */
    /* margin: auto; */
    text-align: center;
    overflow: hidden;
}
.i-header .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* height: 100%; */
}
.header-container {
    /* height: var(--header-landing-percent); */
    /* padding: 0 3rem; */
    /* margin: auto; */
    text-align: center;
    overflow: hidden;
}
.fullscreen-image-wrap {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    max-width: 700px;
    /* height: var(--header-landing); */
    overflow: hidden;
    /* z-index: 1; */
}
.fullscreen-image-wrap img {
    max-width: 100%;
    min-height: 20vh;
}
.header-overlay {
    height: var(--header-landing-percent);
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--dark-screen);
    opacity: 75%;
    /* z-index: 1; */
}
.header-content {
    max-height: var(--header-landing);
    z-index: 25;
    /* padding: auto; */
    margin: auto;
    text-align: center;
}
.header-text {
    line-height: 3.6rem;
    /* padding: auto; */
    /* margin: auto; */
    text-align: center;
}
.header-content .act-btn {
    background-color: var(--light-color);
    color: var(--dark-screen);
}

/*
SECTIONS
*/
.call-outs-container {
    /* margin: 40px auto 0 auto; */
    background-color: var(--light-color);
    /* temporary solution */
    margin-top: -0.36rem;
    margin-bottom: -0.36rem;
}
.call-out {
    /* padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; */
    padding: 0px;
    margin: 0px;
}
.call-out:before, .call-out::after{
    /* padding: 10rem; */
    margin: 0;
}
.call-out-sec {
    /* padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px; */
}
.section-content {
    /* padding: 20px; */
    box-sizing: border-box;
    /* margin-bottom: 20px; */
}
/* Section 1 */
.call-outs-container .call-out .section-1-layout {
    color: var(--sec-1-content);
    background-color: var(--sec-1-bg);
}
.call-outs-container .call-out .section-1-layout .sec-content .act-btn {
    background-color: var(--sec-1-content);
    color: var(--sec-1-bg);
}
.call-outs-container .call-out .section-1-layout .sec-content .ghost-btn {
    border-width: 1.0rem;
    border-color: var(--sec-1-content);
    background-color: var(--sec-1-bg);
    color: var(--sec-1-content);
}
.section-1-layout p {
    color: var(--sec-1-content);
}
/* Section 2 */
.call-outs-container .call-out .section-2-layout {
    color: var(--sec-2-content);
    background-color: var(--sec-2-bg);
}
.call-outs-container .call-out .section-2-layout .sec-content .act-btn {
    background-color: var(--sec-2-content);
    color: var(--sec-2-bg);
}
.call-outs-container .call-out .section-2-layout .sec-content .ghost-btn {
    border-color: var(--sec-2-content);
    background-color: var(--sec-2-bg);
    color: var(--sec-2-content);
}
.section-2-layout p {
    color: var(--sec-2-content);
}
/*
Footer
*/
.footer-layout {
    background-color: var(--footer-bg);
    color: var(--footer-content);
    /* max-width: 100%;
    min-width: 100%; */
}
.footer-layout .footer-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-layout .footer-div .flex-div {
    margin: 0 auto;
    display: flex;
}
.footer-layout .footer-div .flex-div .container {
    
}
.footer-layout .footer-div .flex-div .container .container-child {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.footer-layout .footer-div .flex-div .container .container-child .footer-interior {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer-layout .footer-div .flex-div .container .container-child .footer-interior .media-btn {

}
.footer-layout .footer-div .flex-div .container .container-child .footer-interior .media-btn > div {

}
.footer-layout .footer-div .flex-div .container .container-child .footer-interior .media-btn > div .media-img {

}
/*
======================
RESPONSIVE FEATURES
======================
*/

/*
MOBILE - less than 720 px
*/
@media (max-width: 720px){
    /*
    Sections
    */
    /* .section-1-layout {
        max-width: 600px;
    }
    .section-1-layout > div {
        max-width: 600px;
    }
    .section-1-layout > div .sec-content {
        max-width: 600px;
        margin: 2rem;
    } */
}

/*
MOBILE - less than 600 px
*/
@media (max-width: 640px){
    h1 {
        font-size: 2.65rem;
        line-height: 3.6rem;
    }
    h2 {
        font-size: 1.6rem;
        line-height: 3.6rem;
    }
    h3 {
        font-size: 1.2rem;
        line-height: 2.4rem;
    }
    body p {
        font-size: 1.0rem;
        line-height: 2.4rem;
    }
    .both-btn {
        font-size: 1.0rem;
    }
    /*
    Showcase Header
    */
    .i-header {
        min-height: 28vh;
        max-height: 40%;
        display: flex;
        align-items: center;
        max-width: 100vw;
    }
    .i-header .container {
        /* justify-content: space-between; */
        /* min-height: 28vh; */
        max-width: 100vw;
    }
    .i-header .showcase-inner {
        /* height: 100%; */
    }
    .fullscreen-image-wrap {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        height: 40%;
        overflow: hidden;
        margin: 0;
    }
    .fullscreen-image-wrap img {
        max-width: 100%;
        min-height: 40vh;
    }
    .header-overlay {
        max-width: 100%;
        height: 40%;
    }
    .interior-content {
        padding: 2.0rem 0.6rem;
    }
    /*
    Sections
    */
    .call-outs-container {
        /* background-color: var(--light-color); */
        box-sizing: border-box;
        /* margin: 0;
        padding: 0;
        left: 0;
        top: 0; */
    }
    .call-out {
        /* margin: 0px auto; */
        /* padding: 0; */
    }
    .call-out .call-out-sec {
        /* margin: 0px auto; */
        /* padding: 0.012rem 0; */
    }
    .call-out .call-out-sec .section-img .img-div {
        max-width: 100%;
    }
    .call-out .call-out-sec .section-img .img-div .img-file {
        max-width: 100%;
    }
    .sec-content {
        margin: 0px 1.2rem 0px 1.2rem;
        /* padding: 0.8rem; */
    }
    /*
    Footer
    */
    .footer-layout {

    }
    .footer-layout .footer-div {
        
    }
    .footer-layout .footer-div .flex-div {
        
    }
    .footer-layout .footer-div .flex-div .container {
        padding-top: 2.4rem;
        padding-bottom: 6.0rem;
    }
    .footer-layout .footer-div .flex-div .container .container-child {
        padding: 0.36rem;
    }
    .footer-layout .footer-div .flex-div .container .container-child .footer-interior {
        
    }
    .footer-layout .footer-div .flex-div .container .container-child .footer-interior .media-btn {
        
    }
    .footer-layout .footer-div .flex-div .container .container-child .footer-interior .media-btn > div {
        
    }
    .footer-layout .footer-div .flex-div .container .container-child .footer-interior .media-btn > div .media-img {
        max-height: 1.8rem;
    }
}