/*
GENERAL
*/
:root {
    /*
    NEW COLORS - contrast = bg & buttons
    */
    --white: #ffffff;
    --gen-bg-color: #ffffff;
    /*section 1*/
    --sec-1-content: #00334E;
    --sec-1-bg: #fff;
    /*section 2*/
    --sec-2-content: #fff;
    --sec-2-bg: #4A4A4A;
    /*section 2*/
    --sec-3-content: #fff;
    --sec-3-bg: #00334E;
    /*footer*/
    --footer-content: #fff;
    --footer-bg: #9B9B9B;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--gen-bg-color);
    font-family: 'Open Sans', 'Raleway', Helvetica, sans-serif;
    padding-bottom: 100px;
}

h1, h2, h3 {
    font-family: 'Cabin', 'Raleway', Helvetica, sans-serif;
}

/*
SECTIONS
*/
.call-outs-container {
    max-width: 1400px;
    margin: 40px auto 0 auto;
}
.call-out {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 50%;
}
/* Section 1 */
.sec-1-layout {
    color: var(--sec-1-content);
    background-color: var(--sec-1-bg);
}
.sec-1-layout .call-out > div .sec-content .act-btn {
    background-color: var(--sec-1-content);
    color: var(--sec-1-bg);
}
.sec-1-layout .call-out > div .sec-content .ghost-btn {
    border-color: var(--sec-1-content);
    background-color: var(--sec-1-bg);
    color: var(--sec-1-content);
}
/* Section 2 */
.sec-2-layout {
    color: var(--sec-2-content);
    background-color: var(--sec-2-bg);
}
.sec-2-layout .call-out > div .sec-content .act-btn {
    background-color: var(--sec-2-content);
    color: var(--sec-2-bg);
}
.sec-2-layout .call-out > div .sec-content .ghost-btn {
    border-color: var(--sec-2-content);
    background-color: var(--sec-2-bg);
    color: var(--sec-2-content);
}

/*
======================
RESPONSIVE FEATURES
======================
*/

/*
MOBILE - less than 720 px
*/
@media (max-width: 720px){
    /*
    Sections
    */
    /* .sec-1-layout {
        max-width: 600px;
    }
    .sec-1-layout > div {
        max-width: 600px;
    }
    .sec-1-layout > div .sec-content {
        max-width: 600px;
        margin: 2rem;
    } */
}

/*
MOBILE - less than 600 px
*/
@media (max-width: 640px){
    h1 {
        font-size: 2.65rem;
    }
    h2 {
        font-size: 1.6rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    body p {
        font-size: 1.0rem;
        padding: 0.24rem;
    }
    /*
    Sections
    */
    .call-outs-container {
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .call-outs-container .call-out {
        max-width: 500px;
        flex: 1;
        padding: 0 auto;
        margin: 0 auto;
    }

    /* .section-layout {
        max-width: 600px;
        padding: 0.84rem 2.4rem;
        display: flex;
        justify-content: space-between;
    }
    .section-layout .call-out > div .sec-content p {
        line-height: 1.8rem;
    }
    .section-layout .call-out > div .sec-content .both-btn {
        text-decoration: none;
        display: inline-block;
        border-radius: 36px;
        padding: 0.84rem 1.8rem;
        margin-top: 1.2rem;
        min-width: 8rem;      
        font-size: 1.2rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .section-layout .call-out > div .sec-content .act-btn {
        border: none;
    }
    .section-layout .call-out > div .sec-content .ghost-btn {
        border-style: solid;
    } */

    /* .section-img {
        padding: 0;
        margin-bottom: 0;
    }
    .section-img > div {
        padding: 0;
        margin: 0;
    }
    .section-img > div .img-div {
        padding: 0;
        margin: 0;
    }
    .section-img > div .img-div .img-file {
        padding: 0;
        margin: 0;
    } */
}