/*
======================
NAVIGATION MENU
======================
*/
/*
GENERAL
*/
.nav-tools-container {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; */
    margin: 0;
    padding: 0;
    /* visibility: hidden; */
    position: fixed;
    z-index: 25;
}
.nav-tools-container .nav-tools {
    margin: 0 auto;
    display: flex;
}
.nav-tools-container .nav-tools .nav-div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/*
HERO IMG
*/
.hero-img {
    top: 0rem;
    z-index: 25;
}
.hero-img .logo {
    top: 0.72rem;
}

/*
HAMBURGER MENU
*/
.ham-wrap {
    top: 0;
    right: 0;
    z-index: 25;
    visibility: hidden;
}
.ham-wrap .menu {
    visibility: hidden;
}

/*
======================
SWITCHES BETWEEN MENUS
======================
*/
/*
MOBILE - less than 600 px
*/
@media (max-width: 640px){
    .hero-img {
        top: 1.2rem;
    }
    .hero-img .logo {
        max-width: 2.4rem;
    }
    .hero-img .logo .logo-div {
        
    }
    .hero-img .logo .logo-div .logo-img {
        
    }
    .hero-img .logo .logo-div .logo-img {
        
    }
    .ham-wrap {
        top: 1.2rem;
    }
    .ham-wrap .logo {
        max-width: 2.4rem;
    }
}