/*
GENERAL
*/
:root {
    --nav-pos: 1.2rem;
}

/*
======================
NAVIGATION MENU
======================
*/
/*
GENERAL
*/
.nav-tools-container {
    position: fixed;
    z-index: 24;
}
.nav-tools-container .nav-tools {
    /* margin: 0 auto; */
    display: flex;
}
.nav-tools-container .nav-tools .nav-div {
    width: 100%;
    min-width: 84vw;
    padding: 0.6rem;
    margin: auto;
    /* margin: 1.2rem; */
}
.nav-bg {
    position: fixed;
    background-color: var(--sec-1-content);
    opacity: 96%;
    z-index: 6;
    min-height: 5.4vh;
    width: 100%;
    min-width: 84vw;
}
/*
HERO IMG
*/
.nav-tools-container .nav-tools .hero-img .logo {
    float: left;
    top: var(--nav-pos);
    left: var(--nav-pos);
}
.hero-img .toggler {
    /* top: 0.72rem; */
}

/*
HAMBURGER MENU
*/
.nav-tools-container .nav-tools .ham-menu {
    float: right;
    /* top: var(--nav-pos);
    right: var(--nav-pos);
    z-index: 25;
    visibility: hidden; */
}
.ham-menu .menu {
    /* visibility: hidden; */
}

/*
======================
SWITCHES BETWEEN MENUS
======================
*/
/*
MOBILE - less than 600 px
*/
@media (max-width: 640px){
    .nav-tools-container {
        max-width: 100%;
    }
    .nav-tools-container .nav-tools .nav-div {
        width: 100%;
        min-width: 86vw;
    }
    .nav-tools-container .nav-tools .nav-div {
        padding: 1.2rem 1.2rem;
    }
    .nav-bg {
        min-height: 5.4rem;
        width: 100%;
        min-width: 84vw;
    }
    /*
    HERO IMG
    */
    .hero-img {
        top: 1.2rem;
    }
    .hero-img .logo {
        max-width: 2.4rem;
    }
    .hero-img .logo .logo-div {
        
    }
    .hero-img .logo .logo-div .logo-img {
        
    }
    .hero-img .logo .logo-div .logo-img {
        
    }
    /*
    HAMBURGER MENU
    */
    .ham-menu {
        top: 1.2rem;
    }
    .ham-menu .checkbox {
        /* min-width: 2.4rem; */
    }
}