/*
======================
NAVIGATION MENU
======================
*/

.nav-tools-container {
    position: relative;
}
.nav-tools-container .nav-tools {
    position: relative;
}

/*
======================
HERO IMAGE / LOGO
======================
*/
/*
GENERAL
*/
.hero-img {
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 25;
}
.hero-img .logo {
    top: 0.72rem;
    left: 0.72rem;
}
.hero-img .logo .logo-div {
    
}
.hero-img .logo .logo-div .logo-img {
    
}

/*
======================
HAMBURGER MENU
======================
*/
/*
GENERAL
*/
.ham-wrap {
    /* visibility: hidden; */
    position: relative;
    top: 0;
    right: 0;
    z-index: 25;
}
.ham-wrap .menu {
    visibility: hidden;
    position: relative;
}

/*
======================
SWITCHES BETWEEN MENUS
======================
*/
/*
MOBILE - less than 600 px
*/
@media (max-width: 640px){
    .hero-img {
        top: 1.2rem;
        left: 1.2rem;
    }
    .hero-img .logo {
        max-width: 2.4rem;
    }
    /* .hero-img .logo .logo-div {
        
    }
    .hero-img .logo .logo-div .logo-img {
        
    }
    .hero-img .logo .logo-div .logo-img {
        
    } */
    .ham-wrap {
        top: 1.2rem;
        right: 1.2rem;
    }
    /* .ham-wrap .logo {
        max-width: 2.4rem;
    } */
}