/*
GENERAL
*/
:root {
    --nav-pos: 0.8rem;
    --nav-height-item: 3.2rem;
    --nav-height: 100px;
    --menu-speed: 0.75s;
    --grayed-out: #B4B4B4;
    --option-color: #fff;
    --sub-color: #ffc93c;
    --nav-gradient: linear-gradient(225deg, var(--featured-color), #000);
}

/*
======================
NAVIGATION MENU
======================
*/
/*
GENERAL
*/
.nav-tools-container {
    position: fixed;
    z-index: 24;
}
.nav-tools-container .nav-tools {
    display: flex;
}
.nav-tools-container .nav-tools .nav-div {
    width: 100%;
    min-width: 100vw;
    padding: 0.8rem;
    /* margin: auto; */
    /* opacity: 72%; */
}
.nav-bg {
    position: fixed;
    background-color: var(--sec-1-content);
    opacity: 96%;
    z-index: 6;
    min-height: 5.6vh;
    width: 100%;
    min-width: 84vw;
}
/*
NAV ITEMS
*/
.nav-tools-container .nav-tools .nav-div {
    min-width: 48.5vw;
    max-width: 49.5%;
    max-height: var(--nav-height);
}
.nav-tools-container .nav-tools .nav-div .nav-item {
    align-items: center;
    justify-content: center;
}
/*
HERO IMG
*/
.nav-tools-container .nav-tools .hero-img {
    /* background-color: indigo; */
    padding-top: 0.6rem;
    padding-left: 1.2rem;
}
.nav-tools-container .nav-tools .hero-img .logo {
    float: left;
    height: var(--nav-height-item);
}
/*
HAMBURGER MENU | SHOW & DISPLAY
*/
.ham-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 24;
}
.ham-menu .toggler {
    position: absolute;
    cursor: pointer;
    top: var(--nav-pos);
    right: var(--nav-pos);
    z-index: 2;
    width: var(--nav-height-item);
    height: var(--nav-height-item);
    opacity: 0;
}
.nav-tools-container .nav-tools .ham-menu {
    /* background-color: yellowgreen; */
    padding: 0.6rem;
}
.nav-tools-container .nav-tools .ham-menu .hamburger {
    /* background-color: lightblue; */
    position: absolute;
    top: var(--nav-pos);
    right: var(--nav-pos);
    height: var(--nav-height-item);
    width: var(--nav-height-item);
}
.ham-menu .hamburger {
    position: absolute;
    top: var(--nav-pos);
    right: var(--nav-pos);
    z-index: 1;
    height: var(--nav-height-item);
    width: var(--nav-height-item);
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 100%;
}
.ham-menu .hamburger > div:before,
.ham-menu .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 0.3rem;
    background: inherit;
}
.ham-menu .hamburger > div {
    position: relative;
    width: 100%;
    height: 0.3rem;
    background-color: var(--option-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* Re-positions bottom & top lines */
.ham-menu .hamburger > div:after {
    top: 12px;
}
.ham-menu .hamburger > div:before {
    top: -12px;
}
.ham-menu .toggler:hover + .hamburger > div {
    /* top: 6px; */
    transform: rotate(-90deg);
}
.ham-menu .toggler:hover + .hamburger > div:before {
    top: 6px;
    /* transform: rotate(30deg); */
}
.ham-menu .toggler:hover + .hamburger > div:after {
    top: -6px;
    /* transform: rotate(-30deg); */
}
/* Toggler animate */
.ham-menu .toggler:checked + .hamburger > div {
    transform: rotate(-90deg);
}
/* Turn lines into X */
.ham-menu .toggler:checked + .hamburger > div:before {
    transition: 0.4s ease;
    top: 0px;
    transform: rotate(60deg);
}
.ham-menu .toggler:checked + .hamburger > div:after {
    transition: 0.4s ease;
    top: 0px;
    transform: rotate(-60deg);
}
/* Rotate on hover when checked */
.ham-menu .toggler:checked + .hamburger:hover {
    transform: rotate(225deg);
    transition-duration: var(--menu-speed);
}

/* Rotate on hover when checked */
/* .ham-menu .toggler:checked + .hamburger:hover {
    transform: rotate(5deg);
} */

/*
HAMBURGER MENU | NAV MENU
*/
.ham-menu .toggler:checked ~ #menu {
    visibility: visible;
}
.ham-menu .toggler:checked ~ #menu > div {
    transform: scale(1);
    /* transition-duration: var(--menu-speed); */
}
.ham-menu .toggler:checked ~ #menu > div > div {
    opacity: 1;
    /* transition: opacity 0.4s ease; */
}
.ham-menu #menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 72vh;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: top;
    justify-content: center;
    opacity: 100%;
}
.ham-menu #menu #menu-options {
    position: relative;
    padding: 2.4rem 1.8rem;
    margin: 0.6rem;
    text-align: left;
    top: var(--nav-height);
}
#menu-options ul {
    line-height: 2.4rem;
}
#menu-options ul #no-click {
    /* color: var(--grayed-out); */
    opacity: 36%;
}
.sub-options {
    padding-left: 1.2rem;
    margin-left: 1.2rem;
    line-height: 1.8rem;
}
.sub-options a {
    font-size: 1.0rem;
}
#menu-options ul .sub-options .nav-sub-btn {
    color: var(--sub-color);
}
.ham-menu #menu > div {
    width: 100%;
    background-image: var(--nav-gradient);
    /* transition */
    transform: translate(100vw, -75vh);
    transition: all 1.2s ease;
}
.ham-menu #menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity(100%) 0.s ease;
}
.ham-menu #menu > div > div > ul > li {
    list-style: none;
    color: var(--option-color);
    font-size: 1.5rem;
    padding: 1rem;
}
.ham-menu #menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4 ease;
}

/*
======================
SWITCHES BETWEEN MENUS
======================
*/
/*
MOBILE - less than 600 px
*/
@media (max-width: 640px){
    /* .nav-tools-container {
        max-width: 100%;
    }
    .nav-tools-container .nav-tools .nav-div {
        width: 100%;
        min-width: 78vw;
    }
    .nav-tools-container .nav-tools .nav-div {
        padding: 1.2rem 1.8rem;
    }
    .nav-bg {
        min-height: 5.4rem;
        width: 100%;
        min-width: 84vw;
    } */
    /*
    HERO IMG
    */
    /* .hero-img {
        
    }
    .hero-img .logo {
        max-width: 2.4rem;
    }
    .hero-img .logo .logo-div {
        
    }
    .hero-img .logo .logo-div .logo-img {
        
    }
    .hero-img .logo .logo-div .logo-img {
        
    } */
    /*
    NAV ITEMS
    */
    .nav-tools-container .nav-tools .nav-div {
        min-width: 48.5vw;
        max-width: 49.5%;
        max-height: var(--nav-height);
    }
    .nav-tools-container .nav-tools .nav-div .nav-item {
        align-items: center;
        justify-content: center;
    }
    /*
    HERO IMG
    */
    .nav-tools-container .nav-tools .hero-img {
        /* background-color: indigo; */
        padding-top: 0.6rem;
        padding-left: 1.2rem;
    }
    .nav-tools-container .nav-tools .hero-img .logo {
        float: left;
        height: var(--nav-height-item);
    }
    /*
    HAMBURGER MENU | SHOW & DISPLAY
    */
    .ham-menu {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 24;
    }
    .ham-menu .toggler {
        position: absolute;
        cursor: pointer;
        top: var(--nav-pos);
        right: var(--nav-pos);
        z-index: 2;
        width: var(--nav-height-item);
        height: var(--nav-height-item);
        opacity: 0;
    }
    .nav-tools-container .nav-tools .ham-menu {
        /* background-color: yellowgreen; */
        padding: 0.6rem;
    }
    .nav-tools-container .nav-tools .ham-menu .hamburger {
        /* background-color: lightblue; */
        position: absolute;
        top: var(--nav-pos);
        right: var(--nav-pos);
        height: var(--nav-height-item);
        width: var(--nav-height-item);
    }
    .ham-menu .hamburger {
        position: absolute;
        top: var(--nav-pos);
        right: var(--nav-pos);
        z-index: 1;
        height: var(--nav-height-item);
        width: var(--nav-height-item);
        padding: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 100%;
    }
    .ham-menu .hamburger > div:before,
    .ham-menu .hamburger > div:after {
        content: '';
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 0.3rem;
        background: inherit;
    }
    .ham-menu .hamburger > div {
        position: relative;
        width: 100%;
        height: 0.3rem;
        background-color: var(--option-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
    }
    /* Re-positions bottom & top lines */
    .ham-menu .hamburger > div:after {
        top: 12px;
    }
    .ham-menu .hamburger > div:before {
        top: -12px;
    }
    .ham-menu .toggler:hover + .hamburger > div {
        /* top: 6px; */
        transform: rotate(-90deg);
    }
    .ham-menu .toggler:hover + .hamburger > div:before {
        top: 6px;
        /* transform: rotate(30deg); */
    }
    .ham-menu .toggler:hover + .hamburger > div:after {
        top: -6px;
        /* transform: rotate(-30deg); */
    }
    /* Toggler animate */
    .ham-menu .toggler:checked + .hamburger > div {
        transform: rotate(-90deg);
    }
    /* Turn lines into X */
    .ham-menu .toggler:checked + .hamburger > div:before {
        transition: 0.4s ease;
        top: 0px;
        transform: rotate(60deg);
    }
    .ham-menu .toggler:checked + .hamburger > div:after {
        transition: 0.4s ease;
        top: 0px;
        transform: rotate(-60deg);
    }
    /* Rotate on hover when checked */
    .ham-menu .toggler:checked + .hamburger:hover {
        transform: rotate(225deg);
        transition-duration: var(--menu-speed);
    }
}