/*
============================
GEN SETTINGS
============================
*/

/* COVER PHOTO */
:root {
    /* Menus */
    --menu-color: rgba(255, 255, 255, 0.8);
    --menu-color-sub: rgba(208, 208, 208, 1.0);
    --ham-menu-bg: rgba(22, 22, 22, 1.0);
    /* Cover Photo */
    --cover-shade: rgba(0, 0, 0, 0.4);
    --bg-color: rgba(31, 31, 31, 0.65);
    /* 1st Div */
    --div-1-bg: rgba(255, 255, 255, 1.0);
    --div-1-color: rgba(13, 55, 13, 1.0);
    /* 2nd Div */
    --div-2-bg: rgba(165, 165, 165, 1.0);
    --div-2-color: rgba(255, 255, 255, 1.0);
    /* Footer */
    --footer-bg: rgba(53, 52, 52, 1.0);
    --footer-heading: rgba(239, 239, 239, 1.0);
    --footer-text: rgba(216, 216, 216, 1.0);
}
html, body {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    padding-bottom: 0px;
}

/* COVER PHOTO */
.i-header {
    width: 100%;
    display: flex;
    margin: 40px auto 40px auto;
    align-items: center;
    color: #fff;
}
.img-container {
    text-align: center;
    overflow: hidden;
}
.fullscreen-image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
}
.fullscreen-image-wrap img {
    min-width: 100%;
    z-index: 1;
}
.header-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--cover-shade);
    z-index: 3;
}
.header-content {
    z-index: 4;
    margin: auto;
    text-align: center;
}
.header-content h1 {
    font-family: 'Raleway Black', 'Raleway', 'Helvetica', sans-serif;
    margin-bottom: 0;
}
.header-content p {
    display: block;
}

/* LAYOUTS */
.layout {
    margin: 40px auto 0 auto;
    background-color: var(--div-1-bg);
}

/*
============================
DESKTOP
============================
*/
@media (min-width: 950px){

}

/*
============================
MOBILE - less than 950 px
============================
*/
@media (max-width: 950px){

}

/*
============================
MOBILE - less than 700 px
============================
*/
@media (max-width: 700px){
    .i-header{
        height:50vh;
    }
    .img-container{
        height:50vh;
    }
    .fullscreen-image-wrap{
        height:50vh;
    }
    .fullscreen-image-wrap img{
        height:50vh;
    }
    .header-overlay {
        height: 50vh;
    }
    .header-content {
        height: 50vh;
    }
}