/*
GENERAL
*/
:root {
    /* Menus */
    --menu-color: rgba(255, 255, 255, 0.8);
    --menu-color-sub: rgba(208, 208, 208, 1.0);
    --ham-menu-bg: rgba(22, 22, 22, 1.0);
    /* Cover Photo */
    --cover-shade: rgba(31, 31, 31, 0.65);
    /* 1st Div */
    --div-1-bg: rgba(255, 255, 255, 1.0);
    --div-1-color: rgba(13, 55, 13, 1.0);
    /* 2nd Div */
    --div-2-bg: rgba(165, 165, 165, 1.0);
    --div-2-color: rgba(255, 255, 255, 1.0);
    /* Footer */
    --footer-bg: rgba(53, 52, 52, 1.0);
    --footer-heading: rgba(239, 239, 239, 1.0);
    --footer-text: rgba(216, 216, 216, 1.0);
}
html, body {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Raleway', 'Helvetica', sans-serif;
    padding-bottom: 70px;
}

/*
DIV
*/
.layout-div {
    max-width: 1000px;
    margin: 40px auto 0 auto;
}
.layout-div:nth-child(1){
    background-color: var(--div-1-bg);
}
.layout-div:nth-child(1) > div .layout-content {
    color: var(--div-1-color);
}